<section class="py-16 px-6 md:px-12 bg-purple-50">
  <div class="max-w-7xl mx-auto">
    <h2 class="text-4xl font-bold text-gray-900 mb-4">Steidl Lab in the News</h2>
    <p class="text-lg text-gray-700 mb-10">Explore recent stories featuring our lab's discoveries and community impact.</p>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      {% import 'sections/news-macro.njk' as macro %}

      {{ macro.newsmac(
        'Breakthrough Discovery Overturns Long-Held Belief About Blood Stem Cells',
        'September 3, 2025',
        '/assets/news/september_3_2025.jpg' | url,
        'https://montefioreeinstein.org/news/2025/09/03/breakthrough-discovery-overturns-long-held-belief-about-blood-stem-cells'
      ) }}

      {{ macro.newsmac(
        'Two Einstein Faculty Receive Major Hematology Awards',
        'July 16, 2025',
        '/assets/news/july_16_2025.jpg' | url,
        'https://montefioreeinstein.org/news/2025/07/16/two-einstein-faculty-receive-major-hematology-awards'
      ) }}

      {{ macro.newsmac(
        'Ulrich Steidl elected to the Association of American Physicians',
        'June 10, 2025',
        '/assets/news/june_10_2025.jpg' | url,
        'https://montefioreeinstein.org/news/2025/04/28/ulrich-steidl-md-phd-albert-einstein-college-medicine-elected-association-american-physicians'
      ) }}

      {{ macro.newsmac(
        'Ulrich Steidl, M.D., Ph.D.: A Potential New Approach to Treating Blood Cancers',
        'December 3, 2024',
        '/assets/news/december_3_2024.jpg' | url,
        'https://montefioreeinstein.org/news/2024/12/03/ulrich-steidl-md-phd-potential-new-approach-treating-blood-cancers'
      ) }}

      {{ macro.newsmac(
        'Potential New Approach to Enhancing Stem-Cell Transplants',
        'August 8, 2024',
        '/assets/news/august_8_2024.jpg' | url,
        'https://montefioreeinstein.org/news/2024/08/08/potential-new-approach-enhancing-stem-cell-transplants'
      ) }}

      {{ macro.newsmac(
        'Ulrich Steidl Appointed to Chair of Cell Biology at Einstein',
        'March 2023',
        '/assets/news/march_2023.jpg' | url,
        'https://ashpublications.org/ashclinicalnews/news/6987/Ulrich-Steidl-Appointed-to-Chair-of-Cell-Biology'
      ) }}

      {{ macro.newsmac(
        'Scientists from Around the Globe Pay Tribute to Pioneering Einstein Researcher Paul S. Frenette, MD',
        'July 20, 2022',
        '/assets/news/july_20_2022.jpg' | url,
        'https://montefioreeinsteinnow.org/update/2022-july-20/scientists-tribute-paul-frenette#:~:text=Researchers%20from%20across%20the%20globe,Cell%20Biology%20and%20Regenerative%20Medicine.'
      ) }}





      <!-- Add more cards as needed -->
    </div>
  </div>
</section>
 